.about{
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    padding: 110px 70px;
}
@media screen and (max-width: 1000px) {
    .about {
        padding: 90px 50px;
    }
}
@media screen and (max-width: 660px) {
    .about {
        padding: 70px 18px;
    }
}