.hero-intro {
    background-color: #073042;
    display: flex;
    justify-content: center;
    color: white;
    padding: 75px 70px;
}

@media screen and (max-width: 1000px) {
    .hero-intro {
        padding: 140px 50px 76px;
    }
}
@media screen and (max-width: 660px) {
    .hero-intro {
        padding: 70px 10px 30px;
    }
}