.login__input {
    position: relative;
    border-radius: 8px;
    background: #2F2F2F;
    border: none;
    padding: 15px;
    min-width: 396px;
    margin: 0;
    color: white;
    transition: all .25s;
    box-sizing: border-box;
}

.login__input:hover {
    transition: all .25s;
    transform: scale(1.03);
}

.login__input:active {
    transform: scale(1.03);
}

.login__input::placeholder {
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .login__input {
        min-width: 260px;
    }
    .login__input::placeholder {
        font-size: 10px;
    }
}