.login {
    background-color: #202020;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1000px) {
    .login {
        padding: 0;
        align-items: center;
    }
}

@media screen and (max-width:600px) {
    .login {
        align-items: start;
    }
}