.technology__caption {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
    max-width: 460px;
    margin: 0 0 100px 0;
}

@media screen and (max-width: 1000px) {
    .technology__caption {
        font-size: 12px;
        line-height: 150%;
        margin: 0 0 83px 0;
    }
}
@media screen and (max-width: 660px) {
    .technology__caption {
        font-size: 11px;
        line-height: 145%;
        letter-spacing: -0.04em;
        margin: 0 0 50px 0;
    }
}