.header__films {
    display: flex;
    width: max-content;
    align-items: center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    gap: 16px;
}

@media screen and (max-width: 1000px) {
    .header__films {
        display: none;
    }
}