.backline {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 28px;
    padding: 0;
    position: absolute;
    right: 23px;
    z-index: 10;
    transition: all .3s;
}

.backline:hover {
    transform: scale(1.05);
}

@media screen and (min-width:1000px) {
    .backline {
        display: none;
    }
}