.about__timelearn-progress_backend{
    padding: 10px 14px;
    color: black;
    background: #3DDC84;
}
@media screen and (max-width: 660px) {
    .about__timelearn-progress_backend {
        font-size: 11px;
        padding: 11px 10px;
    }
}