.error-page__link{
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
}
@media screen and (max-width:660px){
    .error-page__link{
        text-align: center;
        font-size: 12px;
    }
}