.container_profile{
    flex-direction: column;
    min-width: 410px;
}

@media screen and (max-width: 550px) {
    .container_profile {
        min-width: 260px;
        justify-content: start;
        max-height: max-content;
        padding: 70px 0 0;
    }
}