.student__about {
    margin: 0 0 100px 0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

@media screen and (max-width: 1000px) {
    .student__about {
        font-size: 12px;
        line-height: 150%;
        margin: 0 0 87px 0;
        max-width: 364px;
    }
}
@media screen and (max-width: 660px) {
    .student__about {
        font-size: 11px;
        line-height: 145%;
        margin: 0 0 40px 0;
    }
}