.student__portfolio-link{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
}

.student__portfolio-link:last-of-type{
    margin: 0;
}
@media screen and (max-width: 660px) {
    .student__portfolio-link {
        font-size: 18px;
        line-height: 156%;
    }
}