.search-string__button{
    background-color: #4285f4;
    border: none;
    border-radius: 50px;
    padding: 0;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: all .3s;
}
.search-string__button:hover{
    transform: scale(1.1);
}