.login__logo {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
    transition: .2s all;
}

.login__logo:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
@media screen and (max-width: 600px) {
    .login__logo {
        align-self: center;
        margin-bottom: 50px;
    }
}